.scoreDIV{
    position: absolute;
    top: 130px;
    left: 300px;
    color:yellow;
    font-weight: bold;
    font-size: 130%;
}

.endGameDIV{
    position: absolute;
    top: 610px;
    left: 310px;
    color:yellow;
    font-weight: bold;
    font-size: 130%;
}

.map{
    position: relative;
    margin: 0 auto;
    width: 840px;
    min-width: 840px;
    height:810px;
    background-color: green;
}

.basicObject{
    position: absolute;
    width: 30px;
    height: 30px;
    background-repeat:no-repeat;
}

.wall{
    background-color: darkblue;
    border: 1px solid grey;
    border-radius: 15%;
}

.empty{
    background-color: black;
    border: 1px solid black;
    border-radius: 15%;
}

.pacman{
    background-image: url("images/pac_right.gif");
}

.monster{

}

.pellet{
}